#popular {
	padding-top: 10rem;
	width: 100%;
}

.popular__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.popular__title h2 {
	color: var(--darker-color);
	font-size: 1.5rem;
	padding-left: 1rem;
}

.popular__main {
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popular__main--left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 3px solid var(--lightblue-color);
	border-radius: 0.3rem;
	cursor: pointer;
}

.popular__main--left p {
	color: var(--likegray-color);
	padding: 0.5rem;
	font-size: 0.7rem;
	padding-right: 0.7rem;
	transition: all 0.3s ease;
}

.popular__main--left .colored {
	color: var(--darker-color);
	border-bottom: 1px solid var(--lightblue-color);
}

.popular__main--left p:hover {
	color: var(--darker-color);
	/* border-bottom: 2px solid var(--lightblue-color); */
}

/* .popular__main--left .colored {
	color: var(--darker-color);
	font-weight: 550;
} */

.popular__main--right {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------------------------------------------------------------*/

.main__right--item1 {
	width: 7rem;
	background-color: var(--light-color);
	padding: 0.3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	transition: all 0.3s ease;
	border: none;
	border-radius: 0.5rem;
	transition: all 0.3s ease;
}

.main__right--item1:hover {
	cursor: pointer;
	background-color: #dcf4f0;
	/* border: 2px solid #73b6fc; */
	border-radius: 0.5rem;
}

.main__right--item1 .svg,
.imgg:hover {
	transform: scale(1.1);
}

.main__right--item1 p {
	color: var(--darker-color);
	font-size: 0.6rem;
	font-weight: 550;
	padding-top: 0.5rem;
}

.main__right--item1 svg {
	width: 1.5rem;
	border: none;
	border-radius: 1rem;
	padding: 0.2rem;
	color: var(--light-color);
	background-color: #5ff1db;
	transition: all 0.3s ease;
}

.main__right--item1 img {
	width: 1rem;
	border: none;
	border-radius: 1rem;
	padding: 0.5rem;
	background-color: #5ff1db;
	transition: all 0.3s ease;
}

.main__right--item1 i {
	border: none;
	border-radius: 1rem;
	padding: 0.5rem;
	/* color: orangered; */
	font-size: 1rem;
	background-color: #5ff1db;
}
